<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Licq - {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
  <div id="banner">
    <div id="header">
      <a id="logo" href="http://www.licq.org/">
        <img src="/images/title_licq.gif" alt="Licq" />
      </a>
    </div>
  </div>

  <div id="nav">
    <ul>
      <li><a href="/">Main</a></li>
      <li><a href="/news.html">News</a></li>
      <li><a href="/download.html">Download</a></li>
    </ul>
  </div>

  <div id="main">
    <div id="content">
      {{ content }}
    </div>
  </div>
</body>
</html>
